.tag-progress {
  margin-bottom: 8px;
  max-width: 540px;
}

.tag-progress h2 {
  font-size: 16px;
  margin-bottom: 1rem;
}
.tag-progress p {
  display: flex;
  width: 100%;
  color: #ccd6f6;
  justify-content: space-between;
}
.tag-progress p span {
  color: #ccd6f6;
}
.tag-progress .progress {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 4px;
  height: 4px;
  border-color: #2a2a2a;
}
.tag-progress .progress::-webkit-progress-bar,
.tag-progress .progress::-webkit-progress-value {
  border-radius: 10px;
  background-color: #2a2a2a;
}
.tag-progress .progress--design::-webkit-progress-bar {
  background-color: #077be0;
}
.tag-progress .progress--design::-webkit-progress-value {
  background-color: #08a0f7;
}
.tag-progress:nth-of-type(1) ::-webkit-progress-value {
  background: #d459e8;
}
.tag-progress:nth-of-type(2) ::-webkit-progress-value {
  background-color: #46bd84;
}
.tag-progress:nth-of-type(3) ::-webkit-progress-value {
  background-color: #08a0f7;
}
.tag-progress:nth-of-type(4) ::-webkit-progress-value {
  background-color: #f7b708;
}
.tag-progress:nth-of-type(5) ::-webkit-progress-value {
  background-color: #f70808;
}

.picture {
  width: 160px;
  height: 160px;
  margin: 0 auto 10px;
  border-radius: 10px;
  background: #64ffdb0e;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    object-fit: cover;
    min-width: 100%;
    opacity:0.4;

    min-height: 100%;
  }
}


.about-content{
  display:flex;
  gap:22px;
}

.skills{
  width:400px;
  .skills-title{
    color: #64ffda;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: clamp(14px, 5vw, 18px);
    font-weight: 400;
    padding-bottom: 12px;
  }
}